@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  :root {
    --background: #f2f3f6;
    --foreground: #1f2a3a;

    --card: #ffffff;
    --card-foreground: #1f2a3a;

    --popover: #ffffff;
    --popover-foreground: #1f2a3a;

    --primary: #0ab2d9;
    --primary-foreground: #ffffff;

    --secondary: #e6ebf2;
    --secondary-foreground: #35495e;

    --muted: #eff2f5;
    --muted-foreground: #7a8ca3;

    --accent: #33d1ff;
    --accent-foreground: #ffffff;

    --destructive: #d8373f;
    --destructive-foreground: #ffffff;

    --success: #2ca35c;
    --success-foreground: #ffffff;

    --border: #e0e0e2;
    --input: #e6ebf2;
    --ring: #0ab2d9;

    --radius: 0.75rem;

    --chart-1: #0ab2d9;
    --chart-2: #33d1ff;
    --chart-3: #5ec2d9;
    --chart-4: #2ca35c;
    --chart-5: #a270f2;

    --sidebar-background: #f9f9f9;
    --sidebar-foreground: #43484c;
    --sidebar-primary: #1a1b1c;
    --sidebar-primary-foreground: #f9f9f9;
    --sidebar-accent: #f4f5f5;
    --sidebar-accent-foreground: #1a1b1c;
    --sidebar-border: #dde1e7;
    --sidebar-ring: #6ec1f1;
  }

  .dark {
    --background: #1a1d23;
    --foreground: #f2f3f6;

    --card: #1c1f24;
    --card-foreground: #f2f3f6;

    --popover: #1c1f24;
    --popover-foreground: #f2f3f6;

    --primary: #0ab2d9;
    --primary-foreground: #ffffff;

    --secondary: #2c3036;
    --secondary-foreground: #f2f3f6;

    --muted: #24272b;
    --muted-foreground: #99a2b3;

    --accent: #33d1ff;
    --accent-foreground: #ffffff;

    --destructive: #d8373f;
    --destructive-foreground: #ffffff;

    --success: #2ca35c;
    --success-foreground: #ffffff;

    --border: #2c3036;
    --input: #24272b;
    --ring: #0ab2d9;

    --chart-1: #0ab2d9;
    --chart-2: #33d1ff;
    --chart-3: #5ec2d9;
    --chart-4: #2ca35c;
    --chart-5: #a270f2;

    --sidebar-background: #1a1b1c;
    --sidebar-foreground: #f4f5f5;
    --sidebar-primary: #3a88b9;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #282c2f;
    --sidebar-accent-foreground: #f4f5f5;
    --sidebar-border: #282c2f;
    --sidebar-ring: #6ec1f1;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
